<!-- As per discussion with nilesh sir on 25th of June we are making breadcrumbs static in individual pages for time being for demo pupose -->
<div aria-label="breadcrumb"> 
    <ol class="breadcrumb">            
        <li class="breadcrumb-item"><a [routerLink]="['/consumerops']">Consumer Ops</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/consumerops/payments']">Payment</a></li>
        <li class="breadcrumb-item active" aria-current="page">Payment Details</li>
    </ol>
</div>
<!-- As per skype discussion with nilesh sir on 25th of June we are making this dropdown static in individual pages for time being for demo purpose -->
<!-- <div class="plus-dropdown-wrap">
<div class="dropdown plus-dropdown" dropdown dropdown-append-to-body>
    <a class="btn dropdown-toggle btn-primary bttn-icon rounded" role="button" id="headerDropdown1" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false"><fa-icon [icon]="faPlus"></fa-icon>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="headerDropdown1">
    <a class="dropdown-item active" href="/registration">Registration</a>
    <a class="dropdown-item" href="#">Survey</a>
    <a class="dropdown-item" href="#">Campgain</a>
    </div>
</div>
</div> -->

<section class="pr-section applicant-details-sec">
    <div class="row justify-content-start">
        <div class="col-6">
            <button class="btn bttn-transparent bttn-back d-inline-block" [routerLink]="['/consumerops/payments']">Back</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto pr-0">
            <div class="applicant-block-lt inner-wrap">
                <div class="applicant-block-lt-header">
                    <div class="row">
                        <div class="col align-self-center">
                            <div class="badge badge-label-success">Connected</div>
                        </div>
                        <div class="col-auto align-self-center">
                            <h4 class="sh-ttl">CRN: 0019924356</h4>
                        </div>
                    </div>
                </div>
                <div class="block-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="profile-card st">
                                <div class="media">
                                    <div class="img-blk">
                                        <img class="img-abs st" src="../../assets/images/john-doe.png" alt="img">
                                    </div>                                                                        
                                    <div class="media-body">
                                      <h5>John Doe</h5>
                                      <p class="p">+91 9846377849</p>
                                      <p class="p"><span class="text-grey fw-400">john_doe@gmail.com</span> </p>
                                      <div class="badge badge-label-success">Paid</div>                                        
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>                        
                </div>
                <ngx-simplebar [options]="scrollOptions" class="info-block">
                    <div class="applicant-data">
                        <div class="row">
                            <div class="col-12">
                                <div class="bttn-toggle">
                                    <div class="toggle-button-wrap mt-0">
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="summry-tab" data-toggle="tab" href="#summry" role="tab" aria-controls="summry" aria-selected="true">Summary</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="profl-tab" data-toggle="tab" href="#profl" role="tab" aria-controls="profl" aria-selected="false">Profile</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="tab-content" id="myTabContent">
                                    <div class="custom-tab-pane tab-pane fade show active" id="summry" role="tabpanel" aria-labelledby="summry-tab">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="reciept-wrap">
                                                    <div class="reciept-data">
                                                        <div class="row">
                                                            <div class="col-7">
                                                                <p class="p p-13">Outstanding</p>
                                                            </div>
                                                            <div class="col">
                                                                <h6 class="h6 text-right">$ 60.00</h6>
                                                            </div>
                                                            <div class="col-7">
                                                                <p class="p p-13">Payment Received</p>
                                                            </div>
                                                            <div class="col">
                                                                <h6 class="h6 text-right">$ 560.00</h6>
                                                            </div>
                                                            <div class="col-12">
                                                                <hr class="dashed-br">
                                                            </div>
                                                            <div class="col-7">
                                                                <p class="p p-13">Deposite Amount</p>
                                                            </div>
                                                            <div class="col">
                                                                <h6 class="h6 text-right">$ 560.00</h6>
                                                            </div>
                                                            <div class="col-7">
                                                                <p class="p p-13">Deposite Received</p>
                                                            </div>
                                                            <div class="col">
                                                                <h6 class="h6 text-right">$ 60.00</h6>
                                                            </div>
                                                            <div class="col-12">
                                                                <hr class="dashed-br">
                                                            </div>
                                                            <div class="col-7">
                                                                <p class="p p-13">Refund</p>
                                                            </div>
                                                            <div class="col">
                                                                <h6 class="h6 text-right">$ 560.00</h6>
                                                            </div>
                                                            <div class="col-7">
                                                                <p class="p p-13">Credit</p>
                                                            </div>
                                                            <div class="col">
                                                                <h6 class="h6 text-right">$ 60.00</h6>
                                                            </div>
                                                            <div class="col-12">
                                                                <hr class="dashed-br full-width">
                                                            </div>
                                                            <div class="col-6 mt-2">
                                                                <h6 class="h6 fs-16">Bill Amount</h6>
                                                            </div>
                                                            <div class="col-6 mt-2">
                                                                <h6 class="h6 text-primary text-right fs-16">$ 6525.00</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p class="p p-13">Showing last <span class="text-dark fw-500">5 months</span> Bill</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="custom-tab-pane tab-pane fade" id="profl" role="tabpanel" aria-labelledby="profl-tab">
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="p p-13">Consumer Category</p>
                                                <h6 class="h6">Domestic</h6>
                                              </div>
                                            <div class="col-6">
                                                <p class="p p-13">Sub Category</p>
                                                <h6 class="h6">Individual</h6>
                                            </div>
                                            <div class="col-6">
                                                <p class="p p-13">Pipeline</p>
                                                <h6 class="h6">Yes</h6>
                                            </div>
                                            <div class="col-6">
                                                <p class="p p-13">Monthly Demand</p>
                                                <h6 class="h6">560 Units</h6>
                                            </div>
                                            <div class="col-6">
                                                <p class="p p-13">Plane</p>
                                                <h6 class="h6">90 days free</h6>
                                            </div>
                                            <div class="col-6">
                                                <p class="p p-13">Utility</p>
                                                <h6 class="h6">Gas</h6>
                                            </div>
                                            <div class="col-6">
                                                <p class="p p-13">Deposit</p>
                                                <h6 class="h6">5000</h6>
                                            </div>
                                            <div class="col-6">
                                                <p class="p p-13">Collected</p>
                                                <h6 class="h6">4500</h6>
                                            </div>
                                            <div class="col-6">
                                                <p class="p p-13">Route</p>
                                                <h6 class="h6">POR3-RAMANAYYA PETA-03</h6>
                                            </div>
                                            <div class="col-6">
                                                <p class="p p-13">Cycle</p>
                                                <h6 class="h6">3</h6>
                                            </div>
                                        </div>
                
                                        <div class="row">
                                            <div class="col-12" >
                                                <div class="title-divider">Meter Details</div>
                                            </div>
                                        </div> 
                
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="p p-13">Meter No.</p>
                                                <h6 class="h6">17711848</h6>
                                            </div>
                                            <div class="col-6">
                                                <p class="p p-13">Meter Digit</p>
                                                <h6 class="h6">8</h6>
                                            </div>
                                            <div class="col-6">
                                                <p class="p p-13">Meter Type</p>
                                                <h6 class="h6">Mechanical</h6>
                                            </div>
                                            <div class="col-6">
                                                <p class="p p-13">Meter Make</p>
                                                <h6 class="h6">123456</h6>
                                            </div>
                                            <div class="col-6">
                                                <p class="p p-13">Conversion Date</p>
                                                <h6 class="h6">09Jan2020</h6>
                                            </div>                                            
                                        </div>
                            
                                    </div>
                                    </div>
                                </div> 
                        </div>                     
                    </div>
                     
                </ngx-simplebar>
            </div>
        </div> 

        <div class="col"> 
            <div class="applicant-block-gen">
                <div class="row justify-content-end mb-3">
                    <div class="col" style="margin-top: -1px;">
                        <form class="pr-search-form d-inline-block">
                        <span class="s-icon"></span>
                        <input class="form-control pr-table-search" type="search" placeholder="Search by Transaction Id, Type" aria-label="Search">
                        </form>
                    </div>
                    <div class="col-auto pr-0" style="margin-top: -2px;">
                        <label class="p p-13 mr-3">Records</label>
                        <ng-select  class="filter-select record-select" [searchable]="false" [clearable]="false"
                            appendTo="body" [items]="pagination" bindLabel="name"
                            placeholder="30" [(ngModel)]="selectedPagination" name="name">
                        </ng-select>
                    </div>
                    <div class="col-auto pr-0">
                        <button class="btn btn-outline-light3 st bttn-filter" type="button" data-toggle="collapse"
                        data-target="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse"><span>2</span>Filter</button>
                    </div>
                    <div class="col-auto pl-0">
                        <div class="dropdown tool-dropdown">
                        <button class="btn btn-outline-light3 st dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tools
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item active" href="#">
                            <fa-icon [icon]="faPrint"></fa-icon>Print
                            </a>
                            <a class="dropdown-item" href="#">
                            <fa-icon [icon]="faFilePdf"></fa-icon>PDF
                            </a>
                            <a class="dropdown-item" href="#">
                            <fa-icon [icon]="faFileExcel"></fa-icon>Excel
                            </a>
                            <a class="dropdown-item" href="#">
                            <fa-icon [icon]="faFileCsv"></fa-icon>CSV
                            </a>
                        </div>
                        </div>
                    </div>
                    <div class="col-auto pl-0">
                        <button class="btn btn-secondary st" type="button" data-toggle="modal" data-target="#addSchedule"><fa-icon [icon]="faPlus"></fa-icon>Add</button>
                    </div>
                </div>                              

                <div class="row">
                    <div class="col-12">
                        <div class="filters-wrap">
                            <div class="collapse" id="filterCollapse">
                                <div class="filter-wrap-inner">
                                    <div class="row">
                                        <div class="col-12">
                                            <ul class="list-group list-group-horizontal">                                            
                                                <li class="list-group-item">
                                                  <label>Utility</label>
                                                    <ng-select class="filter-select" [items]="utility" bindLabel="name" placeholder="Select Utility" [(ngModel)]="selectedUtility"
                                                        name="name">
                                                    </ng-select>
                                                </li>
                                                <li class="list-group-item">
                                                  <label>Mode</label>
                                                  <ng-select class="filter-select" [items]="mode" bindLabel="name" placeholder="Mode" [(ngModel)]="selectedMode"
                                                      name="name">
                                                  </ng-select>
                                                </li>
                                                <li class="list-group-item">
                                                <label>Type</label>
                                                <ng-select class="filter-select" [items]="type" bindLabel="name" placeholder="Type" [(ngModel)]="selectedType"
                                                    name="name">
                                                </ng-select>
                                                </li>
                                                <li class="list-group-item">
                                                  <label>Channel</label>
                                                  <ng-select class="filter-select" [items]="channel" bindLabel="name" placeholder="Channel" [(ngModel)]="selectedChannel"
                                                      name="name">
                                                  </ng-select>
                                                </li>                              
                                                <li class="list-group-item">
                                                  <label>Status</label>
                                                  <ng-select class="filter-select" [items]="status" bindLabel="name" placeholder="Status" [(ngModel)]="selectedStatus"
                                                      name="name">
                                                  </ng-select>
                                                </li>     
                                                <li class="list-group-item">
                                                  <label>Date Range</label>
                                                  <div class="input-group">
                                                      <div class="input-group-prepend">
                                                          <button class="btn bttn-transparent bttn-icon" type="button">
                                                              <fa-icon [icon]="faCalendarAlt"></fa-icon>
                                                          </button>
                                                      </div>
                                                      <input class="form-control pr-date-range" placeholder="Date Range" type="text" name="daterange" [locale]="{format: 'DD-MM-YYYY'}" ngxDaterangepickerMd [(ngModel)]="selected" />
                                                  </div>
                                                </li>  
                                                <li class="list-group-item">
                                                  <div class="input-group" style="margin-top: 26px;">
                                                    <div class="row filter-cta-row">
                                                        <div class="col-auto pr-2">
                                                          <button class="btn btn-outline-secondary st">Apply</button>
                                                        </div>
                                                    </div>
                                                  </div>
                                                </li>
                                                <li class="list-group-item">
                                                  <div class="input-group" style="margin-top: 26px; margin-left: 140px;">
                                                    <div class="row filter-cta-row">
                                                        <div class="col-auto pl-2">
                                                          <button class="btn btn-light2 st" type="button" data-toggle="collapse"
                                                          data-target="#filterCollapse" aria-expanded="false"
                                                          aria-controls="filterCollapse">Cancel</button>
                                                        </div>
                                                    </div>
                                                  </div>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="listview-table-wrap"> 
                            <label class="p p-12">Showing Last 6 month records</label>                                           
                            <table datatable class="pr-datatable table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" class="sm-col"><span>S.No.</span></th>
                                        <th scope="col"><span>Transaction ID</span></th>
                                        <th scope="col"><span>Type</span></th>
                                        <th scope="col"><span>Consumer no.</span></th>
                                        <th scope="col"><span>Amount</span></th>
                                        <th scope="col"><span>Payment Date</span></th> 
                                        <th scope="col"><span>Channel</span></th>
                                        <th scope="col"><span>Mode</span></th>
                                        <th scope="col"><span>Status</span></th>
                                        <th scope="col"><span>Action</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of collection.data">
                                        <th scope="row" class="sb-col">0{{item.srno}}</th>
                                        <th scope="row" class="sb-col">0{{item.txn_id}}</th>
                                        <td>{{item.type}}</td>
                                        <td>{{item.consumer_no}}</td>
                                        <td>{{item.amt}}</td>
                                        <td>{{item.paymentdate}}</td>
                                        <td>{{item.channel}}</td>
                                        <td>{{item.paymentmode}}</td>
                                        <td>
                                            <div [ngSwitch]="item.status">
                                                <div *ngSwitchCase="'paid'">
                                                    <div class="badge badge-label-finished">Paid</div>
                                                </div>

                                                <div *ngSwitchDefault>
                                                    <div class="badge badge-label-pending">Un Paid</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="action-col">
                                            <div class="dropdown dot-option-dropdown">
                                                <a class="dot-btn-v st" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item active st"><span>Reject</span></a>
                                                    <a class="dropdown-item st" data-toggle="modal" data-target="#refundPaymentModal"><span>Refund</span></a>
                                                    <a class="dropdown-item st" data-toggle="modal" data-target="#adjustPaymentModal"><span>Adjust</span></a>
                                                    <a class="dropdown-item st" data-toggle="modal" data-target="#creditPaymentModal"><span>Credit</span></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>                                            
                        </div>
                    </div>
                </div>  
            </div>         
        </div>            
    </div>
    <div class="row">
        <div class="col">
            <ngb-toast *ngIf="showtoast" header="dwd" [delay]="5000" [autohide]="autohide" (mouseenter)="autohide = false" (mouseleave)="autohide = true" (hide)="showtoast = false; autohide = true">
                <div *ngIf="autohide"><span class="text-primary">Successfully</span> Added Transaction!!</div>
            </ngb-toast>
        </div> 
    </div>
</section>
<div class="pr-modal">
    <div class="modal right fade" id="addSchedule" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="addSchedule">
      <div class="modal-dialog" role="document">
        <div class="modal-content"> 
    
            <div class="modal-header pr-modal-header">
                <h4 class="modal-title" id="addAdvertisementModalLabel">Add Transaction</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>

            <div class="modal-body pr-modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="inner-form">
                            <div class="form-row">
                                <div class="col">
                                    <label>Payment Date</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                          <button class="btn bttn-transparent bttn-icon" type="button" (click)="d.toggle()"><fa-icon [icon]="faCalendarAlt"></fa-icon></button>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Date Range" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" container="body">                                  
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label>Payment Type</label>
                                    <ng-select [items]="type"  [(ngModel)]="selectedType" bindLabel="name" name="name"  placeholder="Select Payment Type">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label>Payment Channel</label>
                                    <ng-select [items]="channel"  [(ngModel)]="selectedChannel" bindLabel="name" name="name" placeholder="Select Payment Channel" >
                                    </ng-select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label>Payment Mode</label>
                                    <ng-select [items]="mode"  [(ngModel)]="selectedMode"  bindLabel="name" name="name"  placeholder="Select Payment Mode">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label>Payment Status</label>
                                    <ng-select [items]="status1"  [(ngModel)]="selectedStatus"  bindLabel="name" name="name" placeholder="Select Payment Status">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label>Amount</label>
                                    <input type="text" class="form-control"  />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label>Transaction Remark</label>
                                    <textarea class="form-control big-textarea" placeholder="" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer pr-modal-footer">
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <button class="btn btn-outline-light3 st" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                    <div class="col-auto pl-1 pr-0">
                        <button class="btn btn-secondary st" id="proceed_user_done" (click)="showtoast = true">ADD</button>
                    </div>
                </div>
            </div>
    
        </div>
      </div>
    </div>
</div>


<!-- Adjust component start-->
<div class="pr-modal">
    <div class="modal right fade" id="adjustPaymentModal" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="adjustPaymentModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">    
            <div class="modal-header pr-modal-header">
                <h4 class="modal-title" id="adjustPaymentModalLabel">Transaction</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <ngx-simplebar [options]="scrollOptions" class="modal-body pr-modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="inner-form">
                            <div class="info-block">
                                <div class="modal-header pr-modal-header">
                                    <div class="row">
                                        <div class="col-4">
                                            <p class="p p-13">Transaction No</p>
                                            <h6 class="h6">00199243</h6>
                                        </div>
                                        <div class="col-4">
                                            <p class="p p-13">Amount</p>
                                            <h6 class="h6">5438.00</h6>
                                        </div>
                                        <div class="col-4">
                                            <p class="p p-13">Mode</p>
                                            <h6 class="h6">Cash</h6>
                                        </div>
                                        <div class="col-4">
                                            <p class="p p-13">Channel</p>
                                            <h6 class="h6">Web App</h6>
                                        </div>
                                        <div class="col-4">
                                            <p class="p p-13">Status</p>
                                            <h6 class=" badge badge-label-success">Paid</h6>
                                        </div>
                                        <div class="col-4">
                                            <p class="p p-13">Date</p>
                                            <h6 class="h6">09 Jan 2020</h6>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-row">
                                    <div class="col-12">
                                        <label>Adjust Amount</label>
                                        <input type="text" class="form-control" placeholder="" value="00.00" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-12">
                                        <label>Transaction Remark</label>
                                        <textarea type="text" class="form-control" placeholder="" style="height: 100px; max-height: 100px;"></textarea>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </ngx-simplebar>
            <div class="modal-footer pr-modal-footer">
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <button class="btn btn-outline-light3 st" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                    <div class="col-auto pl-1 pr-0">
                        <button class="btn btn-secondary st" >Submit</button> 
                    </div>
                </div>
            </div>    
        </div>
      </div>
    </div>
</div>
<!-- Adjust component end-->


<!-- Refund component start-->
<div class="pr-modal">
    <div class="modal right fade" id="refundPaymentModal" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="refundPaymentModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">    
            <div class="modal-header pr-modal-header">
                <h4 class="modal-title" id="refundPaymentModalLabel">Transaction</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <ngx-simplebar [options]="scrollOptions" class="modal-body pr-modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="inner-form">
                            <div class="info-block">
                                <div class="modal-header pr-modal-header">
                                    <div class="row">
                                        <div class="col-4">
                                            <p class="p p-13">Transaction No</p>
                                            <h6 class="h6">00199243</h6>
                                        </div>
                                        <div class="col-4">
                                            <p class="p p-13">Amount</p>
                                            <h6 class="h6">5438.00</h6>
                                        </div>
                                        <div class="col-4">
                                            <p class="p p-13">Mode</p>
                                            <h6 class="h6">Cash</h6>
                                        </div>
                                        <div class="col-4">
                                            <p class="p p-13">Channel</p>
                                            <h6 class="h6">Web App</h6>
                                        </div>
                                        <div class="col-4">
                                            <p class="p p-13">Status</p>
                                            <h6 class=" badge badge-label-success">Paid</h6>
                                        </div>
                                        <div class="col-4">
                                            <p class="p p-13">Date</p>
                                            <h6 class="h6">09 Jan 2020</h6>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-row">
                                    <div class="col-12">
                                        <label>Refund Amount</label>
                                        <input type="text" class="form-control" placeholder="" value="00.00" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-12">
                                        <label>Transaction Remark</label>
                                        <textarea type="text" class="form-control" placeholder="" style="height: 100px; max-height: 100px;"></textarea>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </ngx-simplebar>
            <div class="modal-footer pr-modal-footer">
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <button class="btn btn-outline-light3 st" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                    <div class="col-auto pl-1 pr-0">
                        <button class="btn btn-secondary st">Submit</button> 
                    </div>
                </div>
            </div>    
        </div>
      </div>
    </div>
</div>
<!-- Refund component end-->


<!-- Credit component start-->
<div class="pr-modal">
    <div class="modal right fade" id="creditPaymentModal" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="creditPaymentModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">    
            <div class="modal-header pr-modal-header">
                <h4 class="modal-title" id="creditPaymentModalLabel">Transaction</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <ngx-simplebar [options]="scrollOptions" class="modal-body pr-modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="inner-form">
                            <div class="info-block">
                                <div class="modal-header pr-modal-header">
                                    <div class="row">
                                        <div class="col-4">
                                            <p class="p p-13">Transaction No</p>
                                            <h6 class="h6">00199243</h6>
                                        </div>
                                        <div class="col-4">
                                            <p class="p p-13">Amount</p>
                                            <h6 class="h6">5438.00</h6>
                                        </div>
                                        <div class="col-4">
                                            <p class="p p-13">Mode</p>
                                            <h6 class="h6">Cash</h6>
                                        </div>
                                        <div class="col-4">
                                            <p class="p p-13">Channel</p>
                                            <h6 class="h6">Web App</h6>
                                        </div>
                                        <div class="col-4">
                                            <p class="p p-13">Status</p>
                                            <h6 class=" badge badge-label-success">Paid</h6>
                                        </div>
                                        <div class="col-4">
                                            <p class="p p-13">Date</p>
                                            <h6 class="h6">09 Jan 2020</h6>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-row">
                                    <div class="col-12">
                                        <label>Credit Amount</label>
                                        <input type="text" class="form-control" placeholder="" value="00.00" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-12">
                                        <label>Transaction Remark</label>
                                        <textarea type="text" class="form-control" placeholder="" style="height: 100px; max-height: 100px;"></textarea>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </ngx-simplebar>
            <div class="modal-footer pr-modal-footer">
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <button class="btn btn-outline-light3 st" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                    <div class="col-auto pl-1 pr-0">
                        <button class="btn btn-secondary st" >Submit</button> 
                    </div>
                </div>
            </div>    
        </div>
      </div>
    </div>
</div>
<!-- Credit component end-->
