<!-- As per discussion with nilesh sir on 25th of June we are making breadcrumbs static in individual pages for time being for demo pupose -->
<div aria-label="breadcrumb">
<ol class="breadcrumb">            
    <li class="breadcrumb-item"><a routerLink="S&M">O&M</a></li>
    <li class="breadcrumb-item active" aria-current="page">Assets</li>
</ol>
</div>
<!-- As per skype discussion with nilesh sir on 25th of June we are making this dropdown static in individual pages for time being for demo purpose -->
<div class="plus-dropdown-wrap">
<div class="dropdown plus-dropdown" dropdown dropdown-append-to-body>
    <a class="btn dropdown-toggle btn-primary bttn-icon rounded" role="button" id="headerDropdown1" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false"><fa-icon [icon]="faPlus"></fa-icon>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="headerDropdown1">
    <a class="dropdown-item active" href="/registration">Asset</a>
    <a class="dropdown-item" href="#">User</a>
    </div>
</div>
</div>

<section class="pr-section list-view-section">
    

  <div class="row dash-wrap">
    <div class="col-xl-4 col-4 dash-col">
        <div class="sm-dash sm-chart media">
            <div class="chart-wrap align-self-center">
                <canvas class="d1" baseChart [options]="doughnutChartOptions" [datasets]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"></canvas>
                <canvas class="d2" baseChart [options]="doughnutChartOptions2" [datasets]="doughnutChartData2" [labels]="doughnutChartLabels2" [chartType]="doughnutChartType2"></canvas>
            </div>
            <div class="media-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item colr1">
                        <p class="p">Total Assets</p>                            
                        <h4 class="ttl">500</h4>
                    </li>
                    <li class="list-group-item colr2">
                        <p class="p">Expired Assets</p>                            
                        <h4 class="ttl">100</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-4 dash-col">
        <div class="sm-dash sm-chart media">
            <div class="chart-wrap align-self-center">
                <canvas class="d1" baseChart [options]="doughnutChartOptions5" [datasets]="doughnutChartData5" [labels]="doughnutChartLabels5" [chartType]="doughnutChartType5"></canvas>
                <canvas class="d2" baseChart [options]="doughnutChartOptions6" [datasets]="doughnutChartData6" [labels]="doughnutChartLabels6" [chartType]="doughnutChartType6"></canvas>
            </div>
            <div class="media-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item colr5">
                        <p class="p">Allocated</p>                            
                        <h4 class="ttl">200</h4>
                    </li>
                    <li class="list-group-item colr6">
                        <p class="p">Unallocated</p>                            
                        <h4 class="ttl">100</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-4 dash-col">
        <div class="sm-dash sm-chart media">
            <div class="chart-wrap align-self-center">
                <canvas class="d1" baseChart [options]="doughnutChartOptions3" [datasets]="doughnutChartData3" [labels]="doughnutChartLabels3" [chartType]="doughnutChartType3"></canvas>
                <canvas class="d2" baseChart [options]="doughnutChartOptions4" [datasets]="doughnutChartData4" [labels]="doughnutChartLabels4" [chartType]="doughnutChartType4"></canvas>
            </div>
            <div class="media-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item colr3">
                        <p class="p">Validation 1</p>                            
                        <h4 class="ttl">57</h4>
                    </li>
                    <li class="list-group-item colr4">
                        <p class="p">Validation 2</p>                            
                        <h4 class="ttl">10</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

    <div class="row justify-content-end">
        <div class="col">
             <form class="pr-search-form d-inline-block">
                   <span class="s-icon"></span>
                   <input class="form-control pr-table-search" type="search" placeholder="Search by Asset Id,Name,Make No" aria-label="Search">        
             </form>
        </div>
        <div class="col-auto pr-0">
          <label class="p p-13 mr-3">Records</label>
          <ng-select  class="filter-select record-select" [searchable]="false" [clearable]="false"
                                    appendTo="body" [items]="pagination" bindLabel="name"
                                    placeholder="50" [(ngModel)]="selectedPagination" name="name">
        </ng-select>
        </div>
        <div class="col-auto pr-0">
            <button class="btn btn-outline-light3 st bttn-filter" type="button" data-toggle="collapse" data-target="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse"><span>2</span>Filter</button>
        </div>
        <div class="col-auto pl-0">
            <div class="dropdown tool-dropdown">
                <button class="btn btn-outline-light3 st dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tools
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item active" >
                    <i class="icons8 icons8-print-2"></i>Print
                  </a>
                  <a class="dropdown-item" >
                    <i class="icons8 icons8-pdf"></i>PDF
                  </a>
                  <a class="dropdown-item" >
                    <i class="icons8 icons8-brief"></i>Excel
                  </a>
                  <a class="dropdown-item" >
                    <i class="icons8 icons8-document"></i>CSV
                  </a>
                </div>
            </div>
        </div>
        <div class="col-auto pl-0">
            <button class="btn btn-secondary st" [routerLink]="'/asset/add-asset'">ADD</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="filters-wrap">
                <div class="collapse" id="filterCollapse">
                  <div class="filter-wrap-inner">
                    <div class="row">
                      <div class="col-12">
                        <ul class="list-group list-group-horizontal">
                          <li class="list-group-item">
                            <label>Utility</label>
                            <ng-select class="filter-select" [items]="utility" bindLabel="name"
                                placeholder="Select Utility" [(ngModel)]="selectedUtility" name="name">
                            </ng-select>
                        </li>
                
                            <li class="list-group-item">
                                <label>Asset Category</label>
                                 <ng-select class="filter-select" [items]="category" bindLabel="name" placeholder="Select Category" [(ngModel)]="selectedCategory"
                                  name="name">
                                 </ng-select>
                            </li>
                            <li class="list-group-item">
                                <label> Asset Sub Category</label>
                                 <ng-select class="filter-select" [items]="subcategory" bindLabel="name" placeholder="Select Sub Category" [(ngModel)]="selectedSubCategory"
                                  name="name">
                                 </ng-select>
                            </li>
                            <li class="list-group-item">
                              <label>Status</label>
                               <ng-select class="filter-select" [items]="status" bindLabel="name" placeholder="Select Status" [(ngModel)]="selectedStatus"
                                name="name">
                               </ng-select>
                          </li>
                            <li class="list-group-item">
                              <label>Vendor</label>
                               <ng-select class="filter-select" [items]="vendor" bindLabel="name" placeholder="Select Vendor" [(ngModel)]="selectedVendor"
                                name="name">
                               </ng-select>
                            </li>
                            
                            <li class="list-group-item">
                              <label>Date Range</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn bttn-transparent bttn-icon" type="button">
                                        <fa-icon [icon]="faCalendarAlt"></fa-icon>
                                    </button>
                                </div>
                                <input class="form-control pr-date-range" placeholder="Date Range" type="text" name="daterange" [locale]="{format: 'DD-MM-YYYY'}" ngxDaterangepickerMd [(ngModel)]="selected" />
                            </div>
                            </li>
                        </ul>
                      </div>
                    </div>
                    <div class="row filter-cta-row">
                      <div class="col-auto pr-2">
                        <button class="btn btn-outline-secondary st">Apply</button>
                      </div>
                      <div class="col-auto pl-2">
                        <button class="btn btn-light2 st" type="button" data-toggle="collapse"
                        data-target="#filterCollapse" aria-expanded="false"
                        aria-controls="filterCollapse">Cancel</button>
                    </div>
                  </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="listview-table-wrap">
              <label class="p p-12">Showing Last 6 month records</label>
              <table datatable [dtOptions]="dtOptions" class="pr-datatable table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="chbx-col">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="checkAll">
                                  <label class="custom-control-label" for="checkAll"></label>
                                </div>
                            </th>
                            <th scope="col"><span>Asset ID</span></th>
                            <th scope="col"><span>Asset Name</span></th>
                            <th scope="col"><span>Category</span></th>
                            <th scope="col"><span>Sub Category</span></th>
                            <th scope="col"><span>Status</span></th>
                            <th scope="col"><span>Make No</span></th>
                            <th scope="col"><span>Vendor</span></th>
                            <th scope="col"><span>Created On</span></th>
                            <th scope="col" class="action-col"><span>Action</span></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of collection.data">
                            <th scope="row" class="chbx-col">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [attr.id]="item.id">
                                  <label class="custom-control-label" [attr.for]="item.id"></label>
                                </div>
                            </th>
                            <td class="showOnHover" (click)="renderDetail(item.id)">{{item.assetId}}
                                <span class="show">
                                    <div><span>{{item.assetId}}</span></div>
                                    <div style="float: right;margin-top: 0px;">{{item.assetName}}</div>
                                  <div class="enqry-sts-blk" [ngSwitch]="item.status">
                                    <div *ngSwitchCase="'success'">
                                      <div class="badge badge-label-success">Approved</div>
                                    </div>
                                    <div *ngSwitchCase="'warning'">
                                      <div class="badge badge-label-warning">New</div>
                                    </div>
                                    <div *ngSwitchDefault>
                                      <div class="badge badge-label-danger">Rejected</div>
                                    </div>
                                  </div>
                                  <div class="list-blk">
                                    LoreumipsumLoreumipsumLoreumipsum<br>LoreumipsumLoreumipsum
                                  </div>
                                  <div class="list-blk">
                                      <p><span>{{item.make}}</span><span>Make</span></p>
                                      <p><span>{{item.model}}</span><span>Model</span></p>
                                  </div>
                                </span>
                              </td>
                              <td>{{item.assetName}}</td>
                            
                              <td>{{item.category}}</td>
                              <td>{{item.sub_category}}</td>
                              <td>
                                <div [ngSwitch]="item.status">
                                  <div *ngSwitchCase="'success'">
                                    <div class="badge badge-label-success">Approved</div>
                                  </div>
                                  <div *ngSwitchCase="'warning'">
                                    <div class="badge badge-label-warning">New</div>
                                  </div>
                                  <div *ngSwitchDefault>
                                    <div class="badge badge-label-danger">Rejected</div>
                                  </div>
                                </div>
                              </td>
                              <td >{{item.make}}</td>
                              <td >{{item.vendor}}</td>
                              <td >{{item.installationDate | date : 'dd MMM yy'}}</td>
                              <td class="action-col" (click)="renderDetail(item.id)">
                                <span class="show ">
                                  <ul class="list-group list-group-horizontal action-list">
                                    <li class="list-group-item st" [routerLink]="'/asset/details'" tooltipClass="pr-tooltip" placement="top" ngbTooltip="View" [openDelay]="300" [closeDelay]="500"><i class="icons8 icons8-eye"></i></li>
                                    <li></li>
                                  </ul>
                                </span>
                              </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    


</section>   
