<!-- As per discussion with nilesh sir on 25th of June we are making breadcrumbs static in individual pages for time being for demo pupose -->
<div aria-label="breadcrumb">
    <ol class="breadcrumb">            
      <li class="breadcrumb-item"><a routerLink="S&M">Purchace</a></li>
      <li class="breadcrumb-item active" aria-current="page">Request</li>
    </ol>
  </div>
  <!-- As per skype discussion with nilesh sir on 25th of June we are making this dropdown static in individual pages for time being for demo purpose -->
  <div class="plus-dropdown-wrap">
    <div class="dropdown plus-dropdown" dropdown dropdown-append-to-body>
      <a class="btn dropdown-toggle btn-primary bttn-icon rounded" role="button" id="headerDropdown1" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"><fa-icon [icon]="faPlus"></fa-icon>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="headerDropdown1">
        <a class="dropdown-item active" href="/registration">Registration</a>
        <a class="dropdown-item" href="#">Survey</a>
        <a class="dropdown-item" href="#">Campgain</a>
      </div>
    </div>
  </div>
  
  <section class="pr-section list-view-section">
  
    <div class="row dash-wrap">
      <div class="col-xl-3 col-4 dash-col">
        <div class="sm-dash" style="background-image: url('../../assets/images/dashboard-card-img1.png');">
          <p><span class="badge badge-pill badge-label-finished">Approved</span></p>
          <span class="num h1">57</span>
          <span class="p dtl">Request</span>
        </div>
      </div>
      <div class="col-xl-3 col-4 dash-col">
        <div class="sm-dash" style="background-image: url('../../assets/images/dashboard-card-img2.png');">
          <p><span class="badge badge-pill badge-label-pending">Pending</span></p>
          <span class="num h1">578</span>
          <span class="p dtl">Request</span>
        </div>
      </div>
      <div class="col-xl-3 col-4 dash-col">
        <div class="sm-dash" style="background-image: url('../../assets/images/dashboard-card-img3.png');">
          <p><span class="badge badge-pill badge-label-rejected">Rejected</span></p>
          <span class="num h1">30</span>
          <span class="p dtl">Request</span>
        </div>
      </div>
      <div class="col-xl-3 col-4 dash-col">
        <div class="sm-dash" style="background-image: url('../../assets/images/dashboard-card-img3.png');">
          <p><span class="badge badge-pill badge-label-unfinished">Partial</span></p>
          <span class="num h1">30</span>
          <span class="p dtl">Request</span>
        </div>
      </div>
    </div>
  
    <div class="row justify-content-end">
      <div class="col">
        <form class="pr-search-form d-inline-block">
          <span class="s-icon"></span>
          <input class="form-control pr-table-search" type="search" placeholder="Search by Request Id,Name" aria-label="Search">
        </form>
      </div>
      <div class="col-auto pr-0">
        <button class="btn btn-outline-light3 st bttn-filter" type="button" data-toggle="collapse"
          data-target="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse"><span>2</span>Filter</button>
      </div>
      <div class="col-auto pl-0">
        <div class="dropdown tool-dropdown">
          <button class="btn btn-outline-light3 st dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tools
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item active" href="#">
              <fa-icon [icon]="faPrint"></fa-icon>Print
            </a>
            <a class="dropdown-item" href="#">
              <fa-icon [icon]="faFilePdf"></fa-icon>PDF
            </a>
            <a class="dropdown-item" href="#">
              <fa-icon [icon]="faFileExcel"></fa-icon>Excel
            </a>
            <a class="dropdown-item" href="#">
              <fa-icon [icon]="faFileCsv"></fa-icon>CSV
            </a>
          </div>
        </div>
      </div>
      <div class="col-auto pl-0">
        <button class="btn btn-secondary st" [routerLink]="'/request/add-request'"><fa-icon [icon]="faPlus"></fa-icon>ADD</button>
      </div>
    </div>
  
    <div class="row">
      <div class="col-12">
        <div class="filters-wrap">
          <div class="collapse" id="filterCollapse">
            <div class="filter-wrap-inner">
              <div class="row">
                <div class="col-12">
                  <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">
                      <label>Utility</label>
                      <ng-select class="filter-select" [items]="utility" bindLabel="name"
                          placeholder="Select Utility" [(ngModel)]="selectedUtility" name="name">
                      </ng-select>
                  </li>
                  <li class="list-group-item">
                      <label>Type</label>
                      <ng-select class="filter-select" [items]="type" bindLabel="name" placeholder="Select Type" [(ngModel)]="selectedtype"
                          name="name">
                      </ng-select>
                  </li>
                  <li class="list-group-item">
                      <label>Sub Type</label>
                      <ng-select class="filter-select" [items]="type" bindLabel="name" placeholder="Select Sub Type" [(ngModel)]="selectedtype"
                          name="name">
                      </ng-select>
                  </li>
                  
                  <li class="list-group-item">
                      <label>Area</label>
                      <ng-select class="filter-select" [items]="area" bindLabel="name" placeholder="Select Area"
                        [(ngModel)]="selectedArea" name="name">
                      </ng-select>
                    </li>    
                  <li class="list-group-item">
                      <label>Sub Area</label>
                      <ng-select class="filter-select" [items]="subarea" bindLabel="name" placeholder="Select Area"
                        [(ngModel)]="selectedsubArea" name="name">
                      </ng-select>
                    </li>
                    <li class="list-group-item">
                      <label>Status</label>
                      <ng-select class="filter-select" [items]="status" bindLabel="name" placeholder="Select Status" [(ngModel)]="selectedStatus"
                          name="name">
                      </ng-select>
                  </li> 
                  
                    <li class="list-group-item">
                      <label>Date Range</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <button class="btn bttn-transparent bttn-icon" type="button" (click)="d.toggle()">
                            <fa-icon [icon]="faCalendarAlt"></fa-icon>
                          </button>
                        </div>
                        <input type="text" class="form-control" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="model"
                          ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" container="body">
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row filter-cta-row">
                  <div class="col-auto pr-2">
                    <button class="btn btn-outline-secondary st">Apply</button>
                  </div>
                  <div class="col-auto pl-2">
                    <button class="btn btn-light2 st">Cancel</button>
                  </div>
              </div>
  
              
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col">
        <div class="listview-table-wrap">
          <label class="p p-12">Showing Last 6 month records</label>
          <table datatable class="pr-datatable table table-hover">
            <thead>
              <tr>
                <th scope="col" class="chbx-col">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="checkAll">
                    <label class="custom-control-label" for="checkAll"></label>
                  </div>
                </th>
                <th scope="col"><span>Request No</span></th>
                <th scope="col"><span>Type</span></th>
                <th scope="col"><span>Sub Type</span></th>
                <th scope="col"><span>Status</span></th>
                <th scope="col"><span>Area</span></th>
                <th scope="col"><span>Sub Area</span></th>
                <th scope="col"><span> Date</span></th>
                <th scope="col" class="action-col"><span>&nbsp;</span>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of collection.data">
                <th scope="row" class="chbx-col">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [attr.id]="item.id">
                    <label class="custom-control-label" [attr.for]="item.id"></label>
                  </div>
                </th>
                <td class="showOnHover" (click)="renderDetail(item.id)">{{item.request_no}}
                  <span class="show">
                    <span class="enqry-no-blk">{{item.request_no}}</span>
                    <span class="enqry-name-blk">{{item.type}}</span>
                    <div class="enqry-sts-blk" [ngSwitch]="item.status">
                      <div *ngSwitchCase="'success'">
                        <div class="badge badge-label-finished">Approved</div>
                      </div>
                      <div *ngSwitchCase>
                        <div class="badge badge-label-unfinished">Partial</div>
                      </div>
                      <div *ngSwitchDefault="'warning'">
                        <div class="badge badge-label-pending">Pending</div>
                      </div>
                      <div *ngSwitchCase="'danger'">
                        <div class="badge badge-label-rejected">Rejected</div>
                      </div>
                    </div>
                    <div class="list-blk">
                      <p><span>project</span><span>project</span></p>
                      <p><span>category</span><span>category</span></p>
                      <p><span>sub category</span><span>sub category</span></p>
                    </div>
                  </span>
                </td>
                <td>{{item.type}}</td>
                <td>{{item.sub_type}}</td>
                <td>
                  <div [ngSwitch]="item.status">
                    <div *ngSwitchCase="'success'">
                        <div class="badge badge-label-finished">Approved</div>
                    </div>
                    <div *ngSwitchDefault="'warning'">
                        <div class="badge badge-label-pending">Pending</div>
                    </div>
                    <div *ngSwitchCase="'danger'">
                        <div class="badge badge-label-rejected">Rejected</div>
                    </div>
                    <div *ngSwitchCase>
                        <div class="badge badge-label-unfinished">Partial</div>
                    </div>
                  </div>
                </td>
                <td>{{item.area}}</td>
                <td>{{item.sub_area}}</td>
                
                <td>{{item.request_date | date : 'dd MMM yyyy'}}</td>
                <td class="action-col" (click)="renderDetail(item.id)">
                  <span class="show">
                    <ul class="list-group list-group-horizontal action-list">
                      <li class="list-group-item st" [routerLink]="['/campaign-details']"
                        tooltipClass="pr-tooltip" placement="top" ngbTooltip="View" [openDelay]="300"
                        [closeDelay]="500">
                        <fa-icon [icon]="faEye"></fa-icon>
                      </li>
                    </ul>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
  </section>