<!-- As per discussion with nilesh sir on 25th of June we are making breadcrumbs static in individual pages for time being for demo pupose -->
<div aria-label="breadcrumb">
    <ol class="breadcrumb">            
      <li class="breadcrumb-item"><a [routerLink]="['/consumerops']">Consumer Ops</a></li>
      <li class="breadcrumb-item active" aria-current="page">Validation</li>
    </ol>
  </div>
  <!-- As per skype discussion with nilesh sir on 25th of June we are making this dropdown static in individual pages for time being for demo purpose -->
  <div class="plus-dropdown-wrap">
    <div class="dropdown plus-dropdown" dropdown dropdown-append-to-body>
      <a class="btn dropdown-toggle btn-primary bttn-icon rounded" role="button" id="headerDropdown1" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"><fa-icon [icon]="faPlus"></fa-icon>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="headerDropdown1">
        <!-- <a class="dropdown-item active" href="/registration">Registration</a>
        <a class="dropdown-item" href="#">Survey</a>
        <a class="dropdown-item" href="#">Campgain</a> -->
      </div>
    </div>
  </div>
  
  <section class="pr-section list-view-section">

    <div class="row">
        <div class="col-12">
              <h4 class="h4">Validation</h4>
        </div>
    </div>
    
    <div class="row dash-wrap">
        <div class="col-xl-3 col-4 dash-col">
            <div class="sm-dash sm-chart media">
                <div class="chart-wrap align-self-center">
                    <canvas class="d1" baseChart [options]="doughnutChartOptions" [datasets]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"></canvas>
                    <canvas class="d2" baseChart [options]="doughnutChartOptions2" [datasets]="doughnutChartData2" [labels]="doughnutChartLabels2" [chartType]="doughnutChartType2"></canvas>
                </div>
                <div class="media-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item colr1">
                            <p class="p">Total Count</p>                            
                            <h4 class="ttl">500</h4>
                        </li>
                        <li class="list-group-item colr2">
                            <p class="p">Total Validation</p>                            
                            <h4 class="ttl">100</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-4 dash-col">
            <div class="sm-dash sm-chart media">
                <div class="chart-wrap align-self-center">
                    <canvas class="d1" baseChart [options]="doughnutChartOptions3" [datasets]="doughnutChartData3" [labels]="doughnutChartLabels3" [chartType]="doughnutChartType3"></canvas>
                    <canvas class="d2" baseChart [options]="doughnutChartOptions4" [datasets]="doughnutChartData4" [labels]="doughnutChartLabels4" [chartType]="doughnutChartType4"></canvas>
                </div>
                <div class="media-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item colr3">
                            <p class="p">Validation 1</p>                            
                            <h4 class="ttl">57</h4>
                        </li>
                        <li class="list-group-item colr4">
                            <p class="p">Validation 2</p>                            
                            <h4 class="ttl">10</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-4 dash-col">
            <div class="sm-dash sm-chart media">
                <div class="chart-wrap align-self-center">
                    <canvas class="d1" baseChart [options]="doughnutChartOptions5" [datasets]="doughnutChartData5" [labels]="doughnutChartLabels5" [chartType]="doughnutChartType5"></canvas>
                    <canvas class="d2" baseChart [options]="doughnutChartOptions6" [datasets]="doughnutChartData6" [labels]="doughnutChartLabels6" [chartType]="doughnutChartType6"></canvas>
                </div>
                <div class="media-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item colr5">
                            <p class="p">Completed</p>                            
                            <h4 class="ttl">57</h4>
                        </li>
                        <li class="list-group-item colr6">
                            <p class="p">Duplicate</p>                            
                            <h4 class="ttl">10</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-4 dash-col">
            <div class="sm-dash sm-chart media">
                <div class="chart-wrap align-self-center">
                    <canvas class="d1" baseChart [options]="doughnutChartOptions3" [datasets]="doughnutChartData3" [labels]="doughnutChartLabels3" [chartType]="doughnutChartType3"></canvas>
                    <canvas class="d2" baseChart [options]="doughnutChartOptions4" [datasets]="doughnutChartData4" [labels]="doughnutChartLabels4" [chartType]="doughnutChartType4"></canvas>
                </div>
                <div class="media-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item colr3">
                            <p class="p">Validation 1</p>                            
                            <h4 class="ttl">57</h4>
                        </li>
                        <li class="list-group-item colr4">
                            <p class="p">Validation 2</p>                            
                            <h4 class="ttl">10</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  
    <div class="row justify-content-end">
      <div class="col">
        <form class="pr-search-form d-inline-block">
          <span class="s-icon"></span>
          <input class="form-control pr-table-search" type="search" placeholder="Search " aria-label="Search">
        </form>
      </div>
      <div class="col-auto pr-0">
        <button class="btn btn-outline-light3 st bttn-filter" type="button" data-toggle="collapse"
          data-target="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse"><span>2</span>Filter</button>
      </div>
      <div class="col-auto pl-0">
        <div class="dropdown tool-dropdown">
          <button class="btn btn-outline-light3 st dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tools
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item active" href="#">
              <fa-icon [icon]="faPrint"></fa-icon>Print
            </a>
            <a class="dropdown-item" href="#">
              <fa-icon [icon]="faFilePdf"></fa-icon>PDF
            </a>
            <a class="dropdown-item" href="#">
              <fa-icon [icon]="faFileExcel"></fa-icon>Excel
            </a>
            <a class="dropdown-item" href="#">
              <fa-icon [icon]="faFileCsv"></fa-icon>CSV
            </a>
          </div>
        </div>
      </div>
      <div class="col-auto pl-0">
        <button class="btn btn-secondary st" role="button" data-toggle="modal" data-target="#validationAddModal"><fa-icon [icon]="faPlus"></fa-icon>Add</button>
      </div>
    </div>
  
    <div class="row">
      <div class="col-12">
        <div class="filters-wrap">
          <div class="collapse" id="filterCollapse">
            <div class="filter-wrap-inner">
              <div class="row">
                <div class="col-12">
                  <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">
                      <label>Utility</label>
                      <ng-select class="filter-select" [items]="utility" bindLabel="name" placeholder="Select Utility"
                        [(ngModel)]="selectedUtility" name="name">
                      </ng-select>
                    </li>
                    <li class="list-group-item">
                      <label>Category</label>
                      <ng-select class="filter-select" [items]="category" bindLabel="name" placeholder="Select Category"
                        [(ngModel)]="selectedCategory" name="name">
                      </ng-select>
                    </li>
                    <li class="list-group-item">
                      <label>Sub Category</label>
                      <ng-select class="filter-select" [items]="subCategory" bindLabel="name"
                        placeholder="Select Sub Category" [(ngModel)]="selectedSubCategory" name="name">
                      </ng-select>
                    </li>
                    <li class="list-group-item">
                      <label>City</label>
                      <ng-select class="filter-select" [items]="city" bindLabel="name" placeholder="Select City"
                        [(ngModel)]="selectedCity" name="name">
                      </ng-select>
                    </li>
                    <li class="list-group-item">
                      <label>Area</label>
                      <ng-select class="filter-select" [items]="area" bindLabel="name" placeholder="Select Area"
                        [(ngModel)]="selectedArea" name="name">
                      </ng-select>
                    </li>
                    <li class="list-group-item">
                      <label>Sub Area</label>
                      <ng-select class="filter-select" [items]="subArea" bindLabel="name" placeholder="Select Sub Area"
                        [(ngModel)]="selectedSubArea" name="name">
                      </ng-select>
                    </li>
                    <li class="list-group-item">
                      <label>Status</label>
                      <ng-select class="filter-select" [items]="status" bindLabel="name" placeholder="Select Status"
                        [(ngModel)]="selectedStatus" name="name">
                      </ng-select>
                    </li>
                    <li class="list-group-item">
                      <label>Transaction Date</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <button class="btn bttn-transparent bttn-icon" type="button" (click)="d.toggle()">
                            <fa-icon [icon]="faCalendarAlt"></fa-icon>
                          </button>
                        </div>
                        <input type="text" class="form-control" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="model"
                          ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" container="body">
                      </div>
                    </li>
      
                  </ul>
                </div>
              </div>
              <div class="row filter-cta-row">
                <div class="col-auto pr-2">
                  <button class="btn btn-outline-secondary st">Apply</button>
                </div>
                <div class="col-auto pl-2">
                  <button class="btn btn-light2 st">Cancel</button>
                </div>
              </div>
              
  
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
    <div class="row">
      <div class="col">
        <div class="listview-table-wrap">
          <label class="p p-12">Showing Last 6 month records</label>
          <table datatable class="pr-datatable table table-hover">
            <thead>
              <tr>
                <th scope="col"><span>Cycle</span></th>
                <th scope="col"><span>Portion</span></th>
                <th scope="col"><span>Consumer</span></th>
                <th scope="col"><span>Normal</span></th>
                <th scope="col"><span>New</span></th>
                <th scope="col"><span>Completed</span></th>
                <th scope="col"><span>Duplicate</span></th>
                <th scope="col"><span>End Date</span></th>
                <th scope="col" class="action-col"><span>Action</span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of collection.data">
                <td>{{item.cycle}}</td>
                <td>{{item.portion}}</td>
                <td>{{item.consumer}}</td>
                <td class="text-primary">{{item.normal}}</td>
                <td>{{item.new}}</td>
                <td>0{{item.cmpltd}}</td>
                <td>0{{item.duplicate}}</td>
                <td>{{item.enddt | date : 'dd MMM yyyy'}}</td>
                <td class="action-col">
                    <span class="show">
                      <ul class="list-group list-group-horizontal action-list">
                        <li class="list-group-item st" [routerLink]="['/consumerops/meterdata/validation/consumer']" tooltipClass="pr-tooltip" placement="top" ngbTooltip="View" [openDelay]="300"
                          [closeDelay]="500"><fa-icon [icon]="faEye"></fa-icon>
                        </li>
                      </ul>
                    </span>
                  </td>
              </tr>
            </tbody>
          </table>
  
        </div>
      </div>
    </div>
  
  </section>


<!-- Validation Add Modal -->
<div class="pr-modal">
    <div class="modal right fade" id="validationAddModal" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="validationAddModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">    
            <div class="modal-header pr-modal-header">
                <h4 class="modal-title" id="validationAddModalLabel">Add</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <ngx-simplebar [options]="scrollOptions" class="modal-body pr-modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="inner-form">

                            <div class="form-row">
                                <div class="col">
                                    <label>Select MRU</label>
                                    <ng-select [searchable]="false" [clearable]="false" appendTo="body" [items]="mru" bindLabel="slmru" placeholder="Select State" [(ngModel)]="selectedMru" name="slmru">
                                    </ng-select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="custom-control custom-radio pr-custom-radio custom-control-inline">
                                        <input type="radio" id="uploadmru" name="validationradio" class="custom-control-input" checked (change)="uploadmru" #uploadmru>
                                        <label class="custom-control-label" for="uploadmru">Upload MRU</label>
                                      </div>
                                      <div class="custom-control custom-radio pr-custom-radio custom-control-inline">
                                        <input type="radio" id="srchconsumr" name="validationradio" class="custom-control-input" (change)="srchconsumr" #srchconsumr>
                                        <label class="custom-control-label" for="srchconsumr">Search Consumer</label>
                                      </div>
                                </div>
                            </div>

                            <ng-container *ngIf="uploadmru.checked">
                                <div class="form-row">
                                    <div class="col-12">
                                        <label>Upload MRU</label>
                                        <div class="upload-wrapper custom-dropzone" ngx-dropzone
                                            [accept]="'image/*'" (change)="onSelect($event)">
                                            <div class="upload-inner">
                                                <div class="media">
                                                    <div class="media-body single">
                                                        <ngx-dropzone-label>
                                                            <div class="drag-drop">
                                                                <img class="st img-fluid" src="../../assets/images/icons/upload-icon.png" alt="upload">
                                                                <p class="p p-13">Drag & Drop files here</p>
                                                                <p class="p p-13 font-weight-normal">Or</p>
                                                                <button class="btn bttn-uplaod bttn-txt st">Browse Files</button>
                                                            </div>
                                                        </ngx-dropzone-label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uploaded-items">
                                            <ul class="list-group list-group-horizontal-sm">
                                                <ngx-dropzone-image-preview class="list-group-item" ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                                                    <ngx-dropzone-label
                                                        class="p p-12 file-name">{{f.name}}
                                                    </ngx-dropzone-label>
                                                </ngx-dropzone-image-preview>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="srchconsumr.checked">

                                <div class="row">
                                    <div class="col-12 mt-3 mb-1">
                                      <form class="pr-search-form d-inline-block w-100">
                                        <span class="s-icon"></span>
                                        <input class="form-control pr-table-search w-100" style="border-color: #E1E2E5;" type="search" placeholder="Search Consumer" aria-label="Search">
                                      </form>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="profile-card st">
                                            <div class="media">
                                                <div class="img-blk">
                                                    <img class="img-abs st" src="../../assets/images/john-doe.png" alt="img">
                                                </div>                                                                        
                                                <div class="media-body">
                                                  <h5>Rivka Frank </h5>
                                                  <p class="p">+91 9846377849</p>
                                                  <p class="p eml">rivkafrank@gmail.com</p>                                     
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col">
                                        <label>Reading Normal</label>
                                        <input type="text" class="form-control" placeholder="" />
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col">
                                        <label>Status</label>
                                        <input type="text" class="form-control" placeholder="" />
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col">
                                        <label>Reading Date</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="model" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" container="body" value="4-2-20">
                                            <div class="input-group-append">
                                              <button class="btn bttn-transparent bttn-icon" type="button" (click)="d1.toggle()"><fa-icon [icon]="faCalendarAlt"></fa-icon></button>
                                            </div>
                                        </div>
                                    </div> 
                                </div>

                                <div class="form-row">
                                    <div class="col-12">
                                        <label>Upload Photo</label>
                                        <div class="upload-wrapper custom-dropzone" ngx-dropzone
                                            [accept]="'image/*'" (change)="onSelect($event)">
                                            <div class="upload-inner">
                                                <div class="media">
                                                    <div class="media-body single">
                                                        <ngx-dropzone-label>
                                                            <div class="drag-drop">
                                                                <img class="st img-fluid" src="../../assets/images/icons/upload-icon.png" alt="upload">
                                                                <p class="p p-13">Drag & Drop files here</p>
                                                                <p class="p p-13 font-weight-normal">Or</p>
                                                                <button class="btn bttn-uplaod bttn-txt st">Browse Files</button>
                                                            </div>
                                                        </ngx-dropzone-label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uploaded-items">
                                            <ul class="list-group list-group-horizontal-sm">
                                                <ngx-dropzone-image-preview class="list-group-item" ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                                                    <ngx-dropzone-label
                                                        class="p p-12 file-name">{{f.name}}
                                                    </ngx-dropzone-label>
                                                </ngx-dropzone-image-preview>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                        </div>
                    </div>
                </div>
            </ngx-simplebar>
            <div class="modal-footer pr-modal-footer">
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <button class="btn btn-outline-light3 st" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                    <div class="col-auto pl-1 pr-0">
                        <button class="btn btn-secondary st">Submit</button>
                    </div>
                </div>
            </div>    
        </div>
      </div>
    </div>
</div>