<smart360-header></smart360-header>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-auto px-0">
        <!-- <smart360-side-nav class="sidebar-wrapper d-none-adj"></smart360-side-nav> -->
        <smart360-side-nav-snm id="smart360-side-nav-snm-div" class="sidebar-wrapper"></smart360-side-nav-snm>
        <smart360-side-nav-conscare id="smart360-side-nav-conscare-div" class="sidebar-wrapper d-none-adj"></smart360-side-nav-conscare>
        <smart360-side-nav-consops id="smart360-side-nav-consops-div" class="sidebar-wrapper d-none-adj"></smart360-side-nav-consops>
        <smart360-side-nav-sourcing id="smart360-side-nav-sourcing-div" class="sidebar-wrapper d-none-adj"></smart360-side-nav-sourcing>
        <smart360-side-nav-onm id="smart360-side-nav-onm-div" class="sidebar-wrapper d-none-adj"></smart360-side-nav-onm>
        <smart360-side-nav-assets id="smart360-side-nav-assets-div" class="sidebar-wrapper d-none-adj"></smart360-side-nav-assets>
        <smart360-side-nav-purchase id="smart360-side-nav-purchase-div" class="sidebar-wrapper d-none-adj"></smart360-side-nav-purchase>
        <smart360-side-nav-hcm id="smart360-side-nav-hcm-div" class="sidebar-wrapper d-none-adj"></smart360-side-nav-hcm>
        <smart360-side-nav-finance id="smart360-side-nav-finance-div" class="sidebar-wrapper d-none-adj"></smart360-side-nav-finance>
        <smart360-side-nav-admin id="smart360-side-nav-admin-div" class="sidebar-wrapper d-none-adj"></smart360-side-nav-admin>
      </div>
      <div class="col main-container">
        <router-outlet></router-outlet>
        <smart360-footer></smart360-footer>
      </div>
    </div>
  </div>  
</section>
