<!-- As per discussion with nilesh sir on 25th of June we are making breadcrumbs static in individual pages for time being for demo pupose -->
<div aria-label="breadcrumb">
    <ol class="breadcrumb">            
        <li class="breadcrumb-item"><a [routerLink]="['/admin']">Admin Onboarding</a></li>
    </ol>
</div>
<!-- As per skype discussion with nilesh sir on 25th of June we are making this dropdown static in individual pages for time being for demo purpose -->
<div class="plus-dropdown-wrap">
    <div class="dropdown plus-dropdown" dropdown dropdown-append-to-body>
        <a class="btn dropdown-toggle btn-primary bttn-icon rounded" role="button" id="headerDropdown1" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"><fa-icon [icon]="faPlus"></fa-icon>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="headerDropdown1">
        <a class="dropdown-item active" >Option 1</a>
        <a class="dropdown-item" >Option 2</a>
        <a class="dropdown-item" >Option 3</a>
        </div>
    </div>
</div>

<section class="pr-section applicant-details-sec">
    <div class="row justify-content-start">
        <div class="col-6">
            <button class="btn bttn-transparent bttn-back d-inline-block" [routerLink]="['/admin']"></button>
            <div class="inner-page-title d-inline-block"><h4 class="h4">System Configuration</h4></div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto pr-0">
            <div class="applicant-block-lt inner-wrap new-blk">
            
                <div class="row">
                    <div class="col"><br>
                        <h4 class="h4">&nbsp; Utilities</h4>
                    </div>
                </div>           
                
                <div class="row">
                    <div class="col-12">
                        <div class="admin-plans-utility-card-wrap">

                            <div class="admin-plans-utility-card">
                                <div class="media">
                                    <div class="logo-blk">
                                        <img class="st" src="../../assets/images/utility-logo.png" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="ttl">Infra Water Ltd</h4>
                                        <p class="p">BEECHNUT MUD</p>
                                        <p class="p fw-500 text-dark">Water, Gas, Power</p>
                                    </div>
                                </div>
                            </div>

                            <div class="admin-plans-utility-card">
                                <div class="media">
                                    <div class="logo-blk">
                                        <img class="st" src="../../assets/images/utility-logo.png" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="ttl">Infra Water Ltd</h4>
                                        <p class="p">BEECHNUT MUD</p>
                                        <p class="p fw-500 text-dark">Water, Gas, Power</p>
                                    </div>
                                </div>
                            </div>

                            <div class="admin-plans-utility-card">
                                <div class="media">
                                    <div class="logo-blk">
                                        <img class="st" src="../../assets/images/utility-logo.png" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="ttl">Infra Water Ltd</h4>
                                        <p class="p">BEECHNUT MUD</p>
                                        <p class="p fw-500 text-dark">Water, Gas, Power</p>
                                    </div>
                                </div>
                            </div>

                            <div class="admin-plans-utility-card">
                                <div class="media">
                                    <div class="logo-blk">
                                        <img class="st" src="../../assets/images/utility-logo.png" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="ttl">Infra Water Ltd</h4>
                                        <p class="p">BEECHNUT MUD</p>
                                        <p class="p fw-500 text-dark">Water, Gas, Power</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            
            </div>
        </div>
        <div class="col">
            <div class="applicant-block-rt inner-wrap py-0">
                <div class="applicant-block-rt-header">
                    <div class="row">
                        <div class="col pr-0 align-self-center">
                            <ul class="list-group list-group-horizontal admin-plans-list">
                                <li class="list-group-item">
                                    <div class="admin-plans-utility-card">
                                        <div class="media">
                                            <div class="logo-blk">
                                                <img class="st" src="../../assets/images/utility-logo.png" alt="img">
                                            </div>
                                            <div class="media-body">
                                                <h4 class="ttl">Infra Water Ltd</h4>
                                                <p class="p">BEECHNUT MUD</p>
                                                <p class="p fw-500 text-dark">Water, Gas, Power</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" style="margin-right: 30px;">
                                    <p class="mb-2">Name</p>
                                    <span>BCNM</span>                                    
                                </li>
                                <li class="list-group-item" style="margin-right: 30px;">
                                    <p class="mb-2">City</p>
                                    <span>Houston</span>                                    
                                </li>
                                <li class="list-group-item">
                                    <p class="mb-2">State</p>
                                    <span>Texas</span>                                    
                                </li>
                                <li class="list-group-item">
                                    <p class="mb-2">Country</p>
                                    <span>USA</span>                                    
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="applicant-block-rt-body">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="h4">Email configuration</h4>
                        </div>

                        <ngx-simplebar [options]="scrollOptions" class="modal-body pr-modal-body">
			                <div class="row">
			                    <div class="col-12">
			                    	<div class="inner-form">

			                            <div class="form-row">                         
			                                <div class="col">
			                                    <label><h6 class="ttl">Utility</h6></label>
			                                    <input type="text" class="form-control" placeholder="Infra Water Ltd" readonly />
			                                </div>
			                            </div>
			                            <div class="form-row">                         
			                                <div class="col">
			                                    <label><h6 class="ttl">Email port</h6></label>
			                                    <input type="text" class="form-control" placeholder="" />
			                                </div>
			                            </div>
			                            <div class="form-row">                         
			                                <div class="col">
			                                    <label><h6 class="ttl">Email host</h6></label>
			                                    <input type="text" class="form-control" placeholder="" />
			                                </div>
			                            </div>
			                            <div class="form-row">                         
			                                <div class="col">
			                                    <label><h6 class="ttl">Email host user</h6></label>
			                                    <input type="text" class="form-control" placeholder="" />
			                                </div>
			                            </div>
			                            <div class="form-row">                         
			                                <div class="col">
			                                    <label><h6 class="ttl">From email</h6></label>
			                                    <input type="text" class="form-control" placeholder="" />
			                                </div>
			                            </div>

			                    	</div>
			                    </div>
			                </div>
			            </ngx-simplebar>

                    </div>     
                </div>
            </div>           
        </div>
    </div>
</section>
